@use "../partials/partials";

.ns-menu{
    &__box{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        @include mq(sm){
            flex-direction: column;
        }
    }

    &__item{
       @extend %link;
       text-align: center;
       padding: 20px;
       @include link-action{
           text-decoration: underline;
       }
    }

    &__item--active{
        
    }
}

