@use "../partials/partials";

.ns-menu{
    &__box{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__item{
       @extend %link
    }

    &__item--active{
        
    }
}